In [1]:
import pymongo
client=pymongo.MongoClient("mongodb://localhost:27017")
db=client.test

In [2]:
db=client['Bakadb']

In [3]:
collection = db["Student"]

1.Design a MongoDB schema for an "Employee" collection with the following fields:
a. EmployeeID
b. FirstName
c. LastName
d. Age
e. Department
f. Salary

In [4]:
employee_data = {
    "EmployeeID": 1,
    "FirstName": "John",
    "LastName": "Doe",
    "Age": 30,
    "Department": "IT",
    "Salary": 60000
}

result = collection.insert_one(employee_data)
print(f"Inserted document with ID: {result.inserted_id}")

Inserted document with ID: 655b00ce76897b59e22be129

2.Insert the following employee data into the collection.

In [5]:

employee_data = [
    {
        "EmployeeID": 121,
        "FirstName": "Emma",
        "LastName": "Johnson",
        "Age": 30,
        "Department": "Human Resources",
        "Salary": 50000
    },
    {
        "EmployeeID": 134,
        "FirstName": "David",
        "LastName": "Smith",
        "Age": 34,
        "Department": "Marketing",
        "Salary": 55000
    },
    {
        "EmployeeID": 145,
        "FirstName": "Mia",
        "LastName": "Davis",
        "Age": 28,
        "Department": "Information Tech",
        "Salary": 62000
    },
    {
        "EmployeeID": 167,
        "FirstName": "Lucas",
        "LastName": "Brown",
        "Age": 40,
        "Department": "Sales",
        "Salary": 48000
    },
    {
        "EmployeeID": 153,
        "FirstName": "Sophia",
        "LastName": "Wilson",
        "Age": 33,
        "Department": "Research",
        "Salary": 53000
    }
]

# Inserting multiple documents at once
result = collection.insert_many(employee_data)

# Print the inserted document IDs
print(f"Inserted document IDs: {result.inserted_ids}")

Inserted document IDs: [ObjectId('655b019c76897b59e22be12a'), ObjectId('655b019c76897b59e22be12b'), ObjectId('655b019c76897b59e22be12c'), ObjectId('655b019c76897b59e22be12d'), ObjectId('655b019c76897b59e22be12e')]

3.Write a MongoDB query to find all employees

In [6]:

all_employees = collection.find()
for employee in all_employees:
    print(employee)

{'_id': ObjectId('6548eeaa087e94747106aafa'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 21, 'Department': 'Computer Science', 'Mark': 83}
{'_id': ObjectId('6548eeaa087e94747106aafc'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 22, 'Department': 'Computer Science', 'Mark': 86}
{'_id': ObjectId('6548eeaa087e94747106aafe'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 24, 'Department': 'Physical Science', 'Mark': 92}
{'_id': ObjectId('655b00ce76897b59e22be129'), 'EmployeeID': 1, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 30, 'Department': 'IT', 'Salary': 60000}
{'_id': ObjectId('655b019c76897b59e22be12a'), 'EmployeeID': 121, 'FirstName': 'Emma', 'LastName': 'Johnson', 'Age': 30, 'Department': 'Human Resources', 'Salary': 50000}
{'_id': ObjectId('655b019c76897b59e22be12b'), 'EmployeeID': 134, 'FirstName': 'David', 'LastName': 'Smith', 'Age': 34, 'Department': 'Marketing', 'Salary': 55000}
{'_id': ObjectId('655b019c76897b59e22be12c'), 'EmployeeID': 145, 'FirstName': 'Mia', 'LastName': 'Davis', 'Age': 28, 'Department': 'Information Tech', 'Salary': 62000}
{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}
{'_id': ObjectId('655b019c76897b59e22be12e'), 'EmployeeID': 153, 'FirstName': 'Sophia', 'LastName': 'Wilson', 'Age': 33, 'Department': 'Research', 'Salary': 53000}

4.Write a MongoDB query to find all employees in the "Marketing" department

In [7]:

marketing_employees = collection.find({"Department": "Marketing"})
for employee in marketing_employees:
    print(employee)

{'_id': ObjectId('655b019c76897b59e22be12b'), 'EmployeeID': 134, 'FirstName': 'David', 'LastName': 'Smith', 'Age': 34, 'Department': 'Marketing', 'Salary': 55000}

5.Write a MongoDB query to find all employees whose age is greater than or equal to
30.

In [8]:

employees_above_30 = collection.find({"Age": {"$gte": 30}})
for employee in employees_above_30:
    print(employee)

{'_id': ObjectId('655b00ce76897b59e22be129'), 'EmployeeID': 1, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 30, 'Department': 'IT', 'Salary': 60000}
{'_id': ObjectId('655b019c76897b59e22be12a'), 'EmployeeID': 121, 'FirstName': 'Emma', 'LastName': 'Johnson', 'Age': 30, 'Department': 'Human Resources', 'Salary': 50000}
{'_id': ObjectId('655b019c76897b59e22be12b'), 'EmployeeID': 134, 'FirstName': 'David', 'LastName': 'Smith', 'Age': 34, 'Department': 'Marketing', 'Salary': 55000}
{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}
{'_id': ObjectId('655b019c76897b59e22be12e'), 'EmployeeID': 153, 'FirstName': 'Sophia', 'LastName': 'Wilson', 'Age': 33, 'Department': 'Research', 'Salary': 53000}

6.Write a MongoDB query to find all employees whose salary is less than 50000.

In [9]:
employees_below_50000 = collection.find({"Salary": {"$lt": 50000}})
for employee in employees_below_50000:
    print(employee)

{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}

7.Write a MongoDB query to show the first name and salary of all employees in the
"Information Tech" department.

In [10]:
it_department_employees = collection.find(
    {"Department": "Information Tech"},
    {"FirstName": 1, "Salary": 1, "_id": 0}
)
for employee in it_department_employees:
    print(employee)

{'FirstName': 'Mia', 'Salary': 62000}

8.Write a MongoDB query to find all employees in descending order of salary.

In [11]:
employees_sorted_by_salary = collection.find().sort("Salary", pymongo.DESCENDING)
for employee in employees_sorted_by_salary:
    print(employee)

{'_id': ObjectId('655b019c76897b59e22be12c'), 'EmployeeID': 145, 'FirstName': 'Mia', 'LastName': 'Davis', 'Age': 28, 'Department': 'Information Tech', 'Salary': 62000}
{'_id': ObjectId('655b00ce76897b59e22be129'), 'EmployeeID': 1, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 30, 'Department': 'IT', 'Salary': 60000}
{'_id': ObjectId('655b019c76897b59e22be12b'), 'EmployeeID': 134, 'FirstName': 'David', 'LastName': 'Smith', 'Age': 34, 'Department': 'Marketing', 'Salary': 55000}
{'_id': ObjectId('655b019c76897b59e22be12e'), 'EmployeeID': 153, 'FirstName': 'Sophia', 'LastName': 'Wilson', 'Age': 33, 'Department': 'Research', 'Salary': 53000}
{'_id': ObjectId('655b019c76897b59e22be12a'), 'EmployeeID': 121, 'FirstName': 'Emma', 'LastName': 'Johnson', 'Age': 30, 'Department': 'Human Resources', 'Salary': 50000}
{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}
{'_id': ObjectId('6548eeaa087e94747106aafa'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 21, 'Department': 'Computer Science', 'Mark': 83}
{'_id': ObjectId('6548eeaa087e94747106aafc'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 22, 'Department': 'Computer Science', 'Mark': 86}
{'_id': ObjectId('6548eeaa087e94747106aafe'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 24, 'Department': 'Physical Science', 'Mark': 92}

9.Write a MongoDB query to find the oldest employee.

In [12]:
oldest_employee = collection.find().sort("Age", pymongo.DESCENDING).limit(1)
for employee in oldest_employee:
    print(employee)

{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}

10.Write a MongoDB query to find all employees in the "Sales" department whose
EmployeeID is greater than or equal to 150.

In [13]:
sales_employees = collection.find(
    {"Department": "Sales", "EmployeeID": {"$gte": 150}}
)
for employee in sales_employees:
    print(employee)

{'_id': ObjectId('655b019c76897b59e22be12d'), 'EmployeeID': 167, 'FirstName': 'Lucas', 'LastName': 'Brown', 'Age': 40, 'Department': 'Sales', 'Salary': 48000}